.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    display: flex;
    align-items: baseline;
    margin-top: -10px;
}
h6{
   display: inline-block;
   width: 180px;
   white-space: nowrap;
   overflow: hidden !important;
   text-overflow: ellipsis;
}
.justify-content-start {
    justify-content: space-around!important;
    display: flex;
    flex-wrap: nowrap;
    margin-top: -15px;
}

.card-img-top {
    position: relative;
  }
  
  .card-img-top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(225, 5, 5, 0.936); /* change the opacity to adjust the overlay */
    opacity: 0; /* set the default opacity to 0 */
    transition: opacity 0.2s ease-in-out; /* add a transition for a smooth animation */
  }
  
  .card-img-top:hover::before {
    opacity: 1; /* set the opacity to 1 on hover */
  }
  
  .card-img-top::after {
    content: "View more...";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    opacity: 0; /* set the default opacity to 0 */
    transition: opacity 0.2s ease-in-out; /* add a transition for a smooth animation */
  }
  
  .card-img-top:hover::after {
    opacity: 1; /* set the opacity to 1 on hover */
  }
  

  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    position: relative;
  }

  .rating-circle{
        position: absolute;
        right: 12px;
        width: 30px;
        top: 15px;
        height: 30px;
        border-radius: 50%;
        background-color: #ffc107;
        color: white;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;


  }
  
