<!-- <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto my-2">
        <p-galleria [value]="movieImages" [numVisible]="5" [circular]="true" [showItemNavigators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '500px'}">
          <ng-template pTemplate="item" let-img>
              <img [src]="img.item" style="width: 500px; height: 800px; display: block; border-radius: 30px;" />
          </ng-template>
        </p-galleria>
      </div>
    </div>
  </div> -->